# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.eggs/
*.so
.venv/
.pytest_cache/

# Secrets
.env

# Runtime logs
.turbo-proxy*/

# Frontend
node_modules/
/.pnp*
/.yarn
turbo_proxy/visualizer-dist/
